ul,
p,
h2 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}
.section {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.flex {
  display: flex;
}
.img {
  margin-right: 25px;
}
.content {
  padding-top: 30px;

  color: rgba(145, 167, 156, 0.712);
}
.title {
  margin-bottom: 15px;
  padding: 0;
  display: inline-flex;
  justify-content: center;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  font-weight: bold;
  color: rgba(19, 124, 101, 0.959);
}
.button {
  color: rgba(212, 230, 226, 0.575);
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;

  font-size: 14px;
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: rgba(19, 91, 124, 0.26);
}
.link {
  text-decoration: none;
  color: rgba(19, 124, 101, 0.959);
  font-size: 35px;
  font-weight: 700;
}
.activeLink {
  color: rgba(248, 2, 2, 0.541);
  margin-left: 150px;
}
