.header {
  background-color: rgba(3, 28, 68, 0.253);
  padding-top: 20px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(8, 25, 39);
}
.navLink {
  text-decoration: none;
  color: rgba(19, 124, 101, 0.959);
  font-size: 20px;
  font-weight: 700;
}
.navLink:not(:last-child) {
  margin-right: 25px;
}
.activeNavLink {
  color: rgba(248, 2, 2, 0.541);
}
