ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}
.section {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.flex {
  display: flex;
}
.img {
  margin-right: 25px;
}
.content {
  padding-top: 30px;

  color: rgba(145, 167, 156, 0.712);
}
.title {
  margin-bottom: 25px;
  padding: 0;
  display: inline-flex;
  justify-content: center;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  font-weight: bold;
  color: rgba(19, 124, 101, 0.959);
}
